@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #202a44;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#todo-list {
  margin-bottom: 20px;
}
